# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib

# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
*build-*
*.qm
*.prl

# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
CMakeLists.txt.user*

# QtCreator 4.8< compilation database
compile_commands.json

# QtCreator local machine specific files for imported projects
*creator.user*

*_qmlcache.qrc

.DS_store

.idea/
.idea

# Personal ignores
src/Bernie
src/Testing/Bernie
src/Testing/CMakeFiles/
src/CMakeFiles/
src/cmake_install.cmake
src/CMakeCache.txt
src/CMakeFiles/
src/Bernie_autogen/
src/Bernie/cmake_install.cmake
src/Bernie/CMakeCache.txt
src/Bernie/Makefile
src/Testing/CMakeCache.txt
src/Testing/Makefile
src/Testing/cmake_install.cmake
src/build
src/.qmake.stash
src/Bernie.app
src/Makefile
src/Testing/Bernie.app
Docs/~$lazione_Toniolo_Riccardo.docx
Docs/~$niolo_Riccardo_Relazione.docx
.vscode
